body{
    background-color: black;
    display: flex;
    justify-content: center;
    
}

#site h1{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

#site{
    background-color: #d3c8b3;
    width: 400px;
    height: 700px;
    border-radius: 10px;
}

#site div{
    display: flex;
    justify-content: center;
    margin-top: 5px;
    
}